.footer {
  background-color: #2C2C2C;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: space-between;
}
.footer .footer-container > div {
  padding: 30px 0;
}
hr.footer-line {
  height: 1px;
  border: none;
  background-color: #8D8D8D;
}
.footer .nav-items ul {
  display: flex;
  justify-content: space-between;
}
.footer .nav-items ul li {
  font-size: 14px;
}
.footer .content .list-title {
  color: #898989;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
}
.footer .content li {
  font-size: 13px;
  padding-bottom: 10px;
}
.social-copyrights {
  color: #DDDDDD;
}
.socail-icons ul {
  display: flex;
}
.socail-icons li {
  padding-right: 15px;
}
